.connect{
    height: 100%;
    width: 100%;
}
.box-atom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
}
.center{
    height: 6em;
    width: 6em;
    background-color: black;
    border: 0.1em solid white;
    box-shadow: 0 0 10px white, inset 0 0 20px white; 
    border-radius: 100%;
    position: absolute;
    left: 50%;
   right: 50%;
   top: 260px;
}
.nucleus1{
  background-color: black;
  position: absolute;
  border-radius: 50%;
  border: 0.6em solid white;
  border-top: 1.5em solid white;
  border-bottom: 1.5em solid white; 
  box-shadow: 0 0 10px white, inset 0 0 20px white; 
  height: 30em;
  width: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: mymove1 24s infinite;
}
.nucleus2{
    transform: rotate(45deg);
    background-color: black;
    position: absolute;
    border-radius: 50%;
    border: 0.6em solid white;
    border-top: 1.5em solid white;
    border-bottom: 1.5em solid rgb white; 
    box-shadow: 0 0 10px white, inset 0 0 20px white; 
    height: 30em;
    width: 5em;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: mymove2 24s infinite;
  }
  .nucleus3{
    transform: rotate(90deg);
    background-color: black;
    position: absolute;
    border-radius: 50%;
    border: 0.6em solid white;
    border-top: 1.5em solid white;
    border-bottom: 1.5em solid rgb white; 
    box-shadow: 0 0 10px white, inset 0 0 20px white; 
    height: 30em;
    width: 5em;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: mymove3 24s infinite;
  }
  .nucleus4{
    transform: rotate(135deg);
    background-color: black;
    position: absolute;
    border-radius: 50%;
    border: 0.6em solid white;
    border-top: 1.5em solid white;
    border-bottom: 1.5em solid rgb white; 
    box-shadow: 0 0 10px white, inset 0 0 20px white; 
    height: 30em;
    width: 5em;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: mymove4 24s infinite;
  }
  .img-prop{
    height: 30px;
    width: 30px;
    margin: 20px;
    border-radius: 5px;
  }

  @keyframes mymove1 {
    100% {transform: rotate(360deg);}
  }
  @keyframes mymove2 {
    100% {transform: rotate(405deg);}
  }
  @keyframes mymove3 {
    100% {transform: rotate(450deg);}
  }
  @keyframes mymove4 {
    100% {transform: rotate(495deg);}
  }

.allring:hover .nucleus1{
    animation: none;
}
.allring:hover .nucleus2{
    animation: none;
}
.allring:hover .nucleus3{
    animation: none;
}
.allring:hover .nucleus4{
    animation: none;
}
#sus-img{
    transform: rotate(-135deg);
}
#what-img{
    transform: rotate(-135deg);
}
#link-img{
    transform: rotate(-90deg);
}
#mail-img{
    transform: rotate(-90deg);
}
#git-img{
    transform: rotate(-45deg);
}
#med-img{
    transform: rotate(-45deg);
}
