@tailwind base;
@tailwind components;
@tailwind utilities;

.boxdle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxdlee{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.s1{
    width: 50%;
}
.s2{
    width: 50%;
}
.menubox{
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    padding: 2px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 24px 21px -21px rgba(0,0,0,0.75);
}
.smit{
    width: 100px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 30px;
}
.mit{
    color: #999999;
    width: 100px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 30px;
}
article{
    color: #a3a3a3; 
}
.blackpp{
    color: black;
}
.aboutsh{
    font-family: '__Fraunces_994440', '__Fraunces_Fallback_994440';
    color: #999999;
}
.tweetfont{
   font-family: 'Times New Roman', serif;
}
.grow img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.2s ease; 
  }
  
  .grow img {
    transition: transform 0.2s ease;
  }
.imageihh{
     padding: 40px;
    box-shadow: 0px 35px 37px 6px rgba(0,0,0,0.75);

}
/**TWITTER ANIMATION **/
.twitterbox {
    position: relative;
    overflow: hidden;
}

.twitterbox .content {
    position: relative;
    z-index: 1; /* Ensure content stays above overlay */
}

.twitterbox:before {
    content: "";
    position: absolute;
    top: 20%; /* Position the overlay below the content */
    left: 90%;
    transform: translate(-50%, -50%) scale(0);
    width: 150%;
    height: 150%;
    background: #64c8fa;
    transition: transform 1s ease;
    border-radius: 50%;
}

.twitterbox:hover:before {
    transform: translate(-50%, -50%) scale(2);
}
.twitterbox:hover .tweet {
    color: white; 
}
.tweet{
    z-index: 10;
}
