.fullmain{
    height: 100%;
    width: 100%;
}
.logo-pp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}
.dark_header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EFEEED;
}

body:hover{
    cursor: default;
}
.dark-bright{
    width: 35px;
}
.bioo{
    padding-bottom: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #EFEEED;
}
.biobox{
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}

.biodetails{
    display: flex;
}
.bioname{
    width: 70%;
    margin: 20px;
}
.biowidget{
 margin: 20px;
 align-self: center;
 align-content: flex-start;
}
.highlighted-btn{
    background-color: #0B65C2;
    color: white;
}
.bio-buttons{
    display: flex;
}
.connectbutton{
    background-color: #0B65C2;
    border-radius: 10px;
    margin-left: 20px;
}
.connect-bt-tx{
    text-align: center;
}
.resumebutton{
    margin-left: 20px;
}
.headimage{
    height: 281px;
}
.headimage-img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.space{
    height: 50px;
}
.profilepic-img{
    position: absolute;
    border-radius: 100%;
    height: 200px;
    top: 270px;
    left: 120px;
}
.biowidget{
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-title{
    margin: 10px;
}
h2{
    margin: 20px;
}
.featurebox{
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: white;
}
.feat-card{
   display: flex;
   align-items: stretch;
   list-style: none;
   background-attachment: scroll;
   background-clip: border-box;

}
.vertical-al{
    vertical-align: baseline;
    overflow-x: auto;
    
}
.card-des{
    margin: 10px;
}
.card-feat{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #efeeed;
    padding: 0px;
}
.card-feat:hover{
  cursor: pointer;  
  animation: forwards;
}
.card-para{
    margin: 10px;
}
ul{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.card-img{
    height: 200px; 
    width: auto;
}
.card-des{
    text-wrap: wrap;
}
.act-button{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.toggle{
    padding: 10px;
    width: 100px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px; 
    border-color: #808080;
    border-style: solid;
    
}
.h3skills{
    padding-left: 3px;
    margin: 10px;
    font-weight: 800;
}
.projectbox{
    margin: 20px;
    border-color: #efeeed;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
}
.head-view-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-pp{
    border-radius: 100%;
}
.head-view-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-btn{
    height: 70px;
    width: 100px;
    border-radius: 10px;
    border: #1876D2 solid 2px;
    font-size: x-large;
}
.view-sel-head{
    font-size: x-large;
    margin: 10px;
}
.project-image-propp{
    aspect-ratio: auto;
    height: 100px;
    width: 100px;
    margin: 20px;
}
.articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: auto;
    margin: 20px;
    align-items: center;
}
.skill-cards{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
h3{
    margin: 0px;
    padding: 0px;
}
.skillcard{
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}
.sk-img{
    width: 200px;
    border-radius: 10px;
    height: 100px;
}
h4{
    margin: 5px;
}
p{
    margin: 2px;
}
.about-p{
    margin: 20px;
}
.toggle:hover{
    cursor: pointer;
}
.projectbox:hover{
    cursor: pointer;
}
.outer-view{
    border: black solid 1px;
    margin:10px;
    border-radius: 10px;
}
.view-head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}
.boxload{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.fullmainload{
    height: 300px;
    width: 100%;
}

/* MOBILE SIZE */
@media (max-width: 767px){
    .headimage{
        height: 150px;
    }
    .biobox{
        margin: 10px;
       }
    .featurebox{
        margin: 10px;
    }
    .profilepic-img{
        position: absolute;
        border-radius: 100%;
        height: 100px;
        top: 180px;
        left: 17px;
    }
    .bioname{
        /**margin: 20px;**/
    }
    .space{
        height: 20px;
    }
    .biodetails{
        display: block;
    }
    .biowidget{
        display: none;
    }
    .bioname{
       /** width: 100%;**/
    }
    .act-button{
        align-items: stretch;
        background-attachment: scroll;
        background-clip: border-box;
        vertical-align: baseline;
        overflow-x: auto;
    }
    .projectbox{
        display: block;
        padding: 10px;
    }
    .project-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-image-propp{
        aspect-ratio: auto;
     width: max-content;   
    }
    .pro-h3-mobile{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .pro-p-mobile{
        margin-bottom: 10px;
        margin-left: 10px;
    }

}
