.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin: 0px;
}
.dark-bright{
    width: 35px;
}
.bioo{
    padding-bottom: 20px;
}
.biobox{
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: white;
}

.biodetails{
    display: flex;
}
.bioname{
    width: 70%;
    margin: 20px;
}
.biowidget{
 margin: 20px;
 align-self: center;
 align-content: flex-start;
}
.highlighted-btn{
    background-color: #0B65C2;
    color: white;
}
.bio-buttons{
    display: flex;
}
.connectbutton{
    background-color: #0B65C2;
    border-radius: 10px;
    margin-left: 20px;
}
.connect-bt-tx{
    text-align: center;
}
.resumebutton{
    margin-left: 20px;
}
.headimage{
    height: 281px;
}
.headimage-img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.space{
    height: 80px;
}
.profilepic-img{
    position: absolute;
    border-radius: 100%;
    height: 200px;
    top: 270px;
    left: 120px;
}
.biowidget{
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-title{
    margin: 10px;
}
h2{
    margin: 20px;
}
.featurebox{
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: white;
    padding-top: 10px;
}
.feat-card{
   display: flex;
   overflow-x: auto;
}
.card-des{
    margin: 10px;
}
.card-feat{
    
    margin-left: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
   border-color: #efeeed;
}
.card-para{
    margin: 10px;
}
.card-img{
    width: 100%;
    height: 124px;
}
.card-des{
    background-color: #f8fafd;
    text-wrap: balance;
}
.act-button{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.toggle{
    padding: 10px;
    width: 100px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px; 
    border-color: #808080;
    border-style: solid;
    
}
.projectbox{
    margin: 20px;
    border-color: #efeeed;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
}

.project-image-propp{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.articles{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: auto;
    margin: 20px;
    align-items: center;
}
.skill-cards{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
h3{
    margin: 0px;
    padding: 0px;
}
.skillcard{
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border-color: #efeeed;
    border-style: solid;
    border-width: 1px;
}
.sk-img{
    width: 200px;
    border-radius: 10px;
    height: 100px;
}
h4{
    margin: 5px;
}
p{
    margin: 2px;
}
.about-p{
    margin: 20px;
}


/* MOBILE SIZE */
@media (max-width: 767px){
    .headimage{
        height: 150px;
    }
    .biobox{
        margin: 0px;
    }
    .featurebox{
        margin: 0px;
    }
    .profilepic-img{
        position: absolute;
        border-radius: 100%;
        height: 100px;
        top: 160px;
        left: 10px;
    }
    .bioname{
        margin: 20px;
    }
    .space{
        height: 50px;
    }
    .biodetails{
        display: block;
    }
    .biowidget{
        display: none;
    }
    .bioname{
        width: 100%;
    }
    .card-feat{
        width: 200px;
    }
    
}