.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin: 0px;
}
.bioo{
    padding-bottom: 20px;
}
.biobox{
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: white;
}
.biodetails{
    display: flex;
}
.bioname{
    width: 70%;
    margin: 20px;
}
.biowidget{
 margin: 20px;
 align-self: center;
 align-content: flex-start;
}
.highlighted-btn{
    background-color: #0B65C2;
    color: white;
}
.bio-buttons{
    display: flex;
}
.connectbutton{
    background-color: #0B65C2;
    border-radius: 10px;
    margin-left: 20px;
}
.connect-bt-tx{
    text-align: center;
}
.resumebutton{
    margin-left: 20px;
}
.headimage{
    height: 281px;
}
.headimage-img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
